<div class="header center-text">
    <h1>CLUE Killer Generator</h1>
</div>
<nav>
    <%= link_to "Home", "/welcome/index", :class => "menuOption"%>
    <%= link_to "Suspects", "/welcome/suspects", :class => "menuOption"%>
    <%= link_to "Weapons", "/welcome/weapons", :class => "menuOption"%>
    <%= link_to "Locations", "/welcome/locations", :class => "menuOption"%>
    <%= link_to "Generator", "/game/generator", :class => "menuOption"%>
    <%= link_to "Saves", "/welcome/saves", :class => "menuOption"%>
</nav>