<div class="bg-section center-text container">
  <h1>Games</h1>
 
<div class="row"> 
  <table class="container ">
    <tr>
      <th>Game Name</th>
      <th>Date</th>
    </tr>
 
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.date %></td>
        <td><%= link_to 'Show', game_path(game) %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy',
                                  game_path(game),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>