

<h1>New Game</h1>
    <%= form_for :game, url: games_path do |f| %>
      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>
 
      <p>
        <%= f.label :date %><br>
        <%= f.date_field :date %>
      </p>
 
      <p>
        <%= f.submit %>
      </p>
  <% end %>