<p>
    <strong>Game Name:</strong>
    <%= @game.name %>
    
</p>
<p>
    <strong>Game Date:</strong>
    <%= @game.date %>
</p>

<h2>Suspects</h2>
<%= render @game.suspects %>

<h2>Add a Suspect:</h2>
<%=  render 'suspects/form' %>

<h2>Weapons</h2>
<%= render @game.weapons %>

<h2>Add a Weapon:</h2>
<%=  render 'weapons/form' %>


<h2>Locations</h2>
<%= render @game.locations %>

<h2>Add a Location:</h2>
<%=  render 'locations/form' %>


<%= link_to 'Game Saves List', games_path %>