<div class="header center-text">
    <h1>CLUE Card Tracker</h1>
</div>
<nav>
    <%= link_to "Home", "/welcome/index", :class => "menuOption" %>
    <%= link_to "My Trackers", "/games", :class => "menuOption" %>
    <%= link_to "New Tracker", "/games/new", :class => "menuOption"%>
    <%= link_to "Suspects", "/welcome/suspects", :class => "menuOption"%>
    <%= link_to "Locations", "/welcome/locations", :class => "menuOption"%>
    <%= link_to "Weapons", "/welcome/weapons", :class => "menuOption"%>
</nav>